html {
  font-family: sans-serif;
  background-color: #181818;
  color: #F8F8F8; 
  padding: calc(5vw + 5vh);
  font-size: calc(0.9vw + 0.8vh);
}
h1 {
  font-family: serif;
  font-family: serif;
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
  margin-bottom: 0em;
}

p {
  font-size: 1em;
  margin-bottom: 0em;
}
