html {
  font-family: sans-serif;
  background-color: #181818;
  color: #F8F8F8; 
  padding-top: 2%;
}
h1 {
  font-size: 2.7vw;
  padding-left: 2%;
  margin-bottom: 0.8em;
}

h2 {
  font-size: 2.2vw;
  padding-left: 2%;
}

p {
  font-size: 1.6vw;
  padding-left: 2%;
  margin-bottom: 0.4em;
}
