html {
  font-family: sans-serif;


}
h1 {
  font-size: 2rem;
  padding: 2%;
  margin-bottom: -0.8em;
  border: 1px solid red;
}

h2 {
  font-size: 1.6rem;
  padding: 2%;
  margin-bottom: -0.4em;
}

p {
  font-size: 1.3rem;
  padding: 2%;
  margin-bottom: -0.4em;
}
